@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Parisienne;
    src: url(fonts/Parisienne/Parisienne-Regular.ttf);
}

@font-face {
    font-family: Sacramento;
    src: url(fonts/Sacramento/Sacramento-Regular.ttf);
}

@font-face {
    font-family: Alex Brush;
    src: url(fonts/AlexBrush/AlexBrush-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    transition: all ease-in-out 0.3s;
}

#top-btn{
    position: fixed;
    bottom: 20px;
    right: -100px;
    z-index: 99;
    border: none;
    outline: none;
    color: #cecece;
    cursor: pointer;
    padding: 15px;
    font-size: 50px;
    overflow: hidden;
    transition: all 0.3s;
}

#top-btn:hover{
    color: #ffa6ef;
}

.navigation-top{
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Roboto-Medium;
    text-transform: uppercase;
    padding: 15px 0 17px 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all ease-in-out 0.3s;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    float:left;
}

.logo h1{
    font-family: Sacramento;
    text-transform: none;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ff79e7;
}

.links{
    float:right;
}

.links li{
    display: inline-block;
    padding: 0 0 0 20px;
}

.links a{
    text-decoration: none;
    color: #575756;
    transition: all ease-in-out 0.2s;
}

.links a:hover{
    color: #ff79e7 !important;
    transition: all ease-in-out 0.2s !important;
}

.hamburger{
    display: none;
}

.clear{
    clear: both;
}

.settings{
    width: 60px;
    height: 185px;
    position: fixed;
    right: 0;
    top: 40%;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.3s;
}

.back-to-top-btn{
    width: 50px;
    height: 50px;
    background-image: url("images/up-arrow-3.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 6px;
}

.back-to-top{
    padding-bottom: 2px;
    width: 70px;
}

.dark-mode-btn{
    width: 50px;
    height: 50px;
    background-image: url("images/night.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 8px;
    
}

.dark-mode{
    padding-bottom: 2px;
}

.light-mode-btn{
    width: 50px;
    height: 50px;
    background-image: url("images/idea.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 8px;
}

.services{
    margin-top: 230px;
}

.services-text{
    float:left;
    width: 640px !important;
}
.services-text h1{
    font-size: 25px;
    color: #ff79e7;
    font-family: Roboto-Thin;
}

.usluge-button{
    width: 90px;
    height: 40px;
    background-color: #b5bcc5;
    color: white;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    font-family: Roboto-Medium;
    font-size: 14px;
    transition: all ease-in-out 0.2s;
}

.usluge-button:hover{
    background-color: #7f848a;
    transition: all ease-in-out 0.2s;
}

.services-text p{
    font-size: 17px;
    line-height: 130%;
    color: #575756;
}

.services-image{
    float:right;
}

.services-image img{
    width: 500px;
}

.services-grid{
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-content{
    width: 33.1%;
    height: 250px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.column{
    height: 100%;
    width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.column a{
    display: none;
    font-size: 30px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.grid-content:hover .column, .grid-content:focus .column{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.grid-content:hover .column::before, .grid-content:focus .column:before{
    display: block;
}

.grid-content:hover a, .grid-content:focus a{
    display: block;
}

.column:before{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 121, 231, 0.8);
}

.slogan-section{
    width: 100%;
    height: 500px;
    background-color: #ff79e7;
    margin-bottom: 50px;
    transition: all ease-in-out 0.3s;
}

.slogan-text{
    float:left;
    color: white;
    margin-top: 100px;
}

.slogan-text h1{
    font-family: Roboto-Thin;
    font-size: 45px;
}

.slogan-text p{
    font-family: Roboto-Thin;
    font-size: 20px;
}

.slogan-image img{
    float:right;
    width: 370px;
    margin-top: 60px;
}

.our-services{
    margin-bottom: 100px;
}

.our-services-content h1{
    text-align: center;
    font-family: Roboto-Thin;
    font-size: 37px;
    color: #575756;
}

.our-services-content ul{
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.our-services-content li{
    display: inline-block;
    padding-left: 10px;
    margin: 0;
}

.our-services-content-print{
    margin-top: 30px;
    margin-bottom: 30px;
}

.our-services-content-print img{
    max-width: 340px;
    width: 100%;
    float:left;
}

.our-services-content-print p{
    width: 60%;
    float:left;
    margin-left: 20px;
    line-height: 140%;
    color: #575756;
}

.our-services-content-print h1{
    float:left;
    margin: 0;
    margin-left: 20px;
}

.our-services-content a{
    cursor: pointer;
    text-decoration: none;
    color: #575756;
    transition: all ease-in-out 0.3s;
}

.our-services-content a:hover{
    color: rgb(255, 121, 231) !important;
    transition: all ease-in-out 0.3s !important;
}

.contact-us{
    width: 100%;
    height: 250px;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.3s;
}

.contact-us-content{
    text-align: center;
    padding-top: 15px;
}

.contact-us p{
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: white;
}

.contact-us button{
    width: 400px;
    height: 60px;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 0px;
    text-align: center;
    font-size: 20px; 
    font-family: Roboto-Medium;
    margin-top: 20px;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    color: rgb(255, 121, 231);
}

.contact-us button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all ease-in-out 0.4s;
}

.footer{
    background-color: #e6e6e6;
    width: 100%;
    height: 130px;
}

.footer h1{
    font-size: 17px;
    font-family: Roboto-Thin;
    color: #717171;
    float:left;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.footer ul{
    float: right;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer li{
    display: inline-block;
    padding: 5px;
}

.footer img{
    width: 24px;
}

.footer-content{
    padding-top: 50px;
}


.dark-mode-background{
    background-color: #1d1d1d;
    transition: all ease-in-out 0.3s;
}

.dark-mode-foreground{
    color: rgb(228, 228, 228);
    transition: all ease-in-out 0.3s;
}

.dark-mode-body{
    background-color: #252525;
    transition: all ease-in-out 0.3s;
}

.dark-mode-slogan{
    background-color: #373737;
    transition: all ease-in-out 0.3s;
}


@media (min-width: 768px){
    .container{
        width: 750px;
    }
    .slogan-text{
        width: 300px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
    .slogan-text{
        width: 500px;
    }
    .services-text{
        width: 500px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .slogan-text{
        width: 700px;
    }
    .services-text{
        width: 700px;
    }
}


