@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Parisienne;
    src: url(fonts/Parisienne/Parisienne-Regular.ttf);
}

@font-face {
    font-family: Sacramento;
    src: url(fonts/Sacramento/Sacramento-Regular.ttf);
}

@font-face {
    font-family: Alex Brush;
    src: url(fonts/AlexBrush/AlexBrush-Regular.ttf);
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373737;
    background-color: white;
    transition: all ease-in-out 0.3s;
    position: relative;
}

#top-btn{
    position: fixed;
    bottom: 20px;
    right: -100px;
    z-index: 99;
    border: none;
    outline: none;
    color: #cecece;
    cursor: pointer;
    padding: 15px;
    font-size: 50px;
    overflow: hidden;
    transition: all 0.3s;
}

#top-btn:hover{
    color: #ffa6ef;
}

.container {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navigation-top{
    background-color: white;
    font-size: 14px;
    font-family: Roboto-Medium;
    text-transform: uppercase;
    padding: 15px 0 15px 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all ease-in-out 0.3s;
}


.logo h1{
    font-family: Sacramento;
    text-transform: none;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ff79e7;
}

.navbar a.hamburger{    
    position: absolute;
    right: 15px;
    top: 20px;
}

.links{
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    transition: all ease-in-out 0.3s;
}


.links ul{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.links li{
    text-decoration: none;
    display: block;
}

.links a{
    padding: 14px 16px;
    display: block;
    font-size: 17px;
    text-decoration: none;
    color: #575756;
    transition: all ease-in-out 0.2s;
}

.links a:hover{
    color: #ff79e7 !important;
    background-color: #e9e9e9;
    transition: all ease-in-out 0.2s !important;
}

.clear{
    clear: both;
}

.settings{
    width: 100%;
    height: 60px;
    position: fixed;
    top: unset;
    right: unset;
    bottom: 0px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.3;
    text-align: center;
}

.back-to-top-btn{
    width: 50px;
    height: 50px;
    background-image: url("images/up-arrow-3.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 5px;
}

.back-to-top{
    padding-bottom: 2px;
    width: 70px;
}

.dark-mode-btn{
    width: 50px;
    height: 50px;
    background-image: url("images/night.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 5px;
    
}

.dark-mode{
    padding-bottom: 2px;
}

.light-mode-btn{
    width: 50px;
    height: 50px;
    background-image: url("images/idea.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 5px;
}

.services{
    margin-top: 150px;
}

.services-text{
    width: 100%;
    text-align: center;
}

.services-text p{
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #575756;
}

.services-text h1{
    font-size: 25px;
    color:#ff79e7;
    font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif;
}

.usluge-button{
    width: 90px;
    height: 40px;
    background-color: #b5bcc5;
    color: white;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    font-family: Roboto-Medium;
    font-size: 14px;
    transition: all ease-in-out 0.2s;
}

.usluge-button:hover{
    background-color: #7f848a;
    transition: all ease-in-out 0.2s;
}

.services-image{
    text-align: center;
}

.services-image img{
    width: 100%;
    margin-top: 20px;
}

.services-grid{
    display: none;
}

.slogan-section{
    width: 100%;
    height: 700px;
    background-color: #ff79e7;
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.3s;
}

.slogan-text h1{
    font-family: 'Roboto-Thin';
    font-size: 35px;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.slogan-text p{
    font-family: 'Roboto-Thin';
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 5px;
}

.slogan-image{
    text-align: center;
    margin-top: 50px;
}

.slogan-image img{
    width: 100%;
    max-width: 400px;
}


.our-services{
    box-sizing: border-box;
    width: 100%;
}

.our-services-content h1{
    font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #575756;
}

.our-services-content ul{
    text-decoration: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.our-services-content li{
    display: block;
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #575756;
    background-color: transparent;
    border-bottom: 3px solid #ffb6f2;
    box-sizing: border-box;
    padding: 10px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.our-services-content li:hover{
    border-bottom: 3px solid #ff79e7;
    transition: all ease-in-out 0.3s;
}


.our-services hr{
    display: none;
}

.our-services-content-print h1{
    text-align: left;
}

.our-services-content-print img{
    width: 100%;
    margin-top: 20px;
}

.our-services-content-print p{
    text-align: left;
    color: #575756;
}

.contact-us{
    width: 100%;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    transition: all ease-in-out 0.3s;
}

.contact-us-content{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.contact-us p{
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    color: white;
    line-height: 150%;
}

.contact-us button{
    width: 300px;
    height: 60px;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 0px;
    text-align: center;
    font-size: 15px; 
    font-family: Roboto-Medium;
    margin-top: 20px;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    color: rgb(255, 121, 231);
}

.contact-us button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all ease-in-out 0.4s;
}


.footer{
    background-color: #e6e6e6;
    width: 100%;
    height: 140px;
    text-align: center;
}

.footer-content{
    margin: 0;
    padding: 0;
}

.footer h1{
    font-size: 13px;
    font-family: Roboto-Thin;
    color: #717171;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    text-align: center;
}

.footer ul{
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.footer li{
    display: inline-block;
    padding: 5px;
}

.footer img{
    width: 24px;
}


.dark-mode-background{
    background-color: #1d1d1d;
    transition: all ease-in-out 0.3s;
}

.dark-mode-foreground{
    color: rgb(228, 228, 228);
    transition: all ease-in-out 0.3s;
}

.dark-mode-body{
    background-color: #252525;
    transition: all ease-in-out 0.3s;
}

.dark-mode-slogan{
    background-color: #373737;
    transition: all ease-in-out 0.3s;
}
